.sidebar { background-color: #2c3e50; border-right: 1px solid #000; }
.navigation li a { color: #fff; }
.navigation li a:hover, .navigation li a:focus { background-color: transparent; color: #2196f3; }
.s-count { background: #000; float:right; }
.sidebar .divider { margin: 9px 0; padding:0 20px; }
.sidebar .divider span{ background-color: #e5e5e5; height: 1px; float:left; width:100%; }

.page-header .heading-elements { top:0; margin-top: 0; height:100%;}
.heading-elements .btn-float { vertical-align: top;}
.btn-float > span { margin-bottom: 0;}
.heading-elements .heading-btn-group { display: table; height:100%;}
.heading-elements .heading-btn-group > a { vertical-align: middle; display:table-cell;}
.heading-elements .heading-btn-group .btn-float > span + span { padding-top:0; }
.nav > li > a{ padding:12px 10px;}

.search {
    color: transparent;
    cursor: pointer;
    height: 30px;
    margin: 8px 0;
    overflow: hidden;
    padding-right: 20px;
    position: relative;
    width: 15px;
}
.search form { position:absolute; right:0;top:0; min-width:195px;}
.search:hover, .search:focus , .search:active{ width:200px; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear; -o-transition: all 0.4s linear; -ms-transition: all 0.4s linear; transition: all 0.4s linear;}
.search input[type="text"]{ color:#000; }
.search button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    float: right;
    margin: 0 0 0 5px;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    text-indent: 200px;
    width: 20px;
}
.search button:after { position:absolute; right:0; top:2px; content:"\e98e"; font-family: "icomoon"; font-size: 16px; color:#fff;}

.footer { float:left; width:100%; padding:10px 20px; background: #fcfcfc;}
.footer-inner { float:left; line-height: 30px;}
.footer-inner a { font-weight: bold; color:#000;} 
.footer-inner a:hover { border-bottom: #000 solid 1px;}

.version { float:right;}
.version span { float:left; color:#fff; background:#2196f3; padding:5px 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px; }

@media (max-width: 768px) {
    .page-header .heading-elements { top:auto;}
    .heading-elements .heading-btn-group { display: block; }
    .heading-elements .heading-btn-group > a { display: inline-block; }
    .search { width:auto; text-align: center; }
    .search form { position:static; display:inline-block;} 
    .search input, .search button { float:left;}
}
@media (max-width: 500px) {
    .footer { text-align: center;}
    .footer-inner, .version { float:none; display:block;}
    .version span { float:none; display:inline-block; margin:10px 0;}
}