body{
	color: #1d2129;
}

.navbar-inverse {
    background-color: #808080;
    border-color: #808080;
}

.navigation>li.active>a, .navigation>li.active>a:hover, .navigation>li.active>a:focus{
	background-color: #808080;
}

.navigation>li ul{
	background-color: #fff;
}
.navigation>li ul li a{
	color: #333;
}